.nav-link:hover{
    background-color:aquamarine !important;
    color: black !important;
    border-radius:15px;


}

.nav-link{
    color: black  !important;
    font-weight: bolder;
   
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
    color:limegreen !important;
    font-size: 50px !important;
    font-weight:bold;
}
body{
background-image: url('https://cf.bstatic.com/xdata/images/xphoto/max1440/48357989.jpg?k=2551268c286ece963d038bef3adad4f10c1b2739e54a366183ad437c15fcf837&o=');
background-repeat: no-repeat ;
background-size: cover;
}
.navbar{
    background-color: transparent !important;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer-basic .social>a:hover {
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }
  

