<style>
    .list-group-item{
    padding:8px !important
    background-color: red !important;
    }
    body{
        background-image: url('https://th.bing.com/th/id/OIP.7O1hE_JlaAGdCbE_UtUyhQHaEK?w=288&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7');
        background-repeat: no-repeat ;
        background-size: cover;
        }
        
    .main{
            padding: 15px;
            
     }
     .card{
            position: relative;
            display: flex;
            flex-direction: column;
        }
            input{
            width: 100%;
            text-align: center;
            height: 40px;
            font-weight: bolder;
            border-radius: 5px;
            border: 2px solid rgba(225,225, 225, 6);
        }           
  </style>